<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 
		REPLY 테이블로부터 조회된 result set 을
		자바의 Reply VO 객체로 가공해주는 resultMap
	-->
	<resultMap id="replyResultSet" type="reply">
		<id column="REPLY_NO" property="replyNo" />
		<result column="REPLY_CONTENT" property="replyContent" />
		<result column="USER_ID" property="replyWriter" />
		<result column="CREATE_DATE" property="createDate" />
	</resultMap>

	<!-- 
		CATEGORY 테이블로부터 조회된 result set 을
		자바의 Category VO 객체로 가공해주는 resultMap
	-->
	<resultMap id="categoryResultSet" type="category">
		<id column="CATEGORY_NO" property="categoryNo" />
		<result column="CATEGORY_NAME" property="categoryName" />
	</resultMap>

	<!-- 
		ATTACHMENT 테이블로부터 조회된 result set 을
		자바의 Attachment VO 객체로 가공해주는 resultMap
	-->
	<resultMap id="attachmentResultSet" type="attachment">
		<id column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
	</resultMap>

	<!-- 
		BOARD 테이블로부터 조회된 result set 을
		자바의 Board VO 객체로 가공해주는 resultMap
	-->
	<resultMap id="boardResultSet" type="board">
		<id column="BOARD_NO" property="boardNo" />
		<result column="CATEGORY" property="category" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="USER_ID" property="boardWriter" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		
		<result column="BOARD_CONTENT" property="boardContent" />
		
		<!-- 썸네일 이미지 정보 -->
		<result column="TITLEIMG" property="titleImg" />
	</resultMap>
	
	<!-- 게시글의 총 갯수를 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD
		 WHERE BOARD_TYPE = 1
		   AND STATUS = 'Y'
	</select>
	
	<!-- 페이징처리가 적용된 게시글의 목록을 조회하는 쿼리문 -->
	<select id="selectBoardList" parameterType="hashmap"
			resultMap="boardResultSet">
		<!-- RowBounds 객체 사용 후 쿼리문 - 전체를 조회하되 정렬만 잘해주기!! -->	
		SELECT BOARD_NO
			 , CATEGORY_NAME AS CATEGORY
			 , BOARD_TITLE
			 , USER_ID
			 , COUNT
			 , CREATE_DATE
		  FROM BOARD B
		  JOIN CATEGORY USING (CATEGORY_NO)
		  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE B.STATUS = 'Y'
		   AND BOARD_TYPE = 1   	 
		 ORDER BY BOARD_NO DESC
		<!-- RowBounds 객체 사용 전 쿼리문 - 인라인뷰가 복잡 -->
		<!--  
		SELECT *
		  FROM
		    (
		    SELECT ROWNUM RNUM, A.*
		      FROM
		        (
		        SELECT BOARD_NO
		             , CATEGORY_NAME AS CATEGORY
		             , BOARD_TITLE
		             , USER_ID
		             , COUNT
		             , CREATE_DATE
		          FROM BOARD B
		          JOIN CATEGORY USING (CATEGORY_NO)
		          JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		         WHERE BOARD_TYPE = 1
		           AND B.STATUS = 'Y'
		         ORDER BY BOARD_NO DESC
		        ) A
		    )
		 WHERE RNUM BETWEEN #{startRow} AND #{endRow}
		 -->
	</select>
	
	<!-- 
		* MyBatis 의 "동적 SQL (동적 쿼리)" 기술을 적용하여 검색 기능 구현
		
		- 동적 SQL (동적 쿼리)
		: 상황에 따라 분기 처리 등을 통해 SQL 문을 동적으로 만들어내는 기술
		
		예) 
		조건에 따라 다른 쿼리문을 만들겠다.
		상황에 따라 반복적으로 쿼리문에 필요한 요소들을 붙여서 완성시키겠다.
		
		- 문법은 JSTL 의 태그들과 거의 비슷한 형태이다!!
	-->
	
	<!-- 검색 결과의 갯수를 세오는 쿼리문 -->
	<select id="selectSearchCount" parameterType="hashmap"
								   resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD B
		  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE BOARD_TYPE = 1
		   AND B.STATUS = 'Y' 
		   AND
		   <if test="condition == 'writer'">
		   		USER_ID 
		   </if>
		   <if test="condition == 'title'">
		   		BOARD_TITLE 
		   </if>
		   <if test="condition == 'content'">
		   		BOARD_CONTENT 
		   </if>
		   					  LIKE '%' || #{keyword} || '%' 
	</select>
	
	<!-- 실제 검색결과를 조회해주는 쿼리문 (RowBounds 쓸 것 - 인라인뷰 X) -->
	<select id="searchBoardList" parameterType="hashmap"
								 resultMap="boardResultSet">
		SELECT BOARD_NO
		     , CATEGORY_NAME AS CATEGORY
		     , BOARD_TITLE
		     , USER_ID
		     , COUNT
		     , CREATE_DATE
		  FROM BOARD B
		  JOIN CATEGORY USING (CATEGORY_NO)
		  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE BOARD_TYPE = 1
		   AND B.STATUS = 'Y'
		   AND 
		   <choose>
		   		<when test="condition == 'writer'">
		   			USER_ID
		   		</when>
		   		<when test="condition == 'title'">
		   			BOARD_TITLE
		   		</when>
		   		<otherwise>
		   			BOARD_CONTENT
		   		</otherwise>
		   </choose>
		   						  LIKE '%' || #{keyword} || '%'
		 ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 게시글 등록용 쿼리문 (첨부파일이 있든 없든 무조건 실행) -->
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(BOARD_NO
		                , BOARD_TYPE
		                , CATEGORY_NO
		                , BOARD_TITLE
		                , BOARD_CONTENT
		                , BOARD_WRITER)
		           VALUES(SEQ_BNO.NEXTVAL
		                , 1
		                , #{category}
		                , #{boardTitle}
		                , #{boardContent}
		                , #{boardWriter})
	</insert>
	
	<!-- 첨부파일 등록용 쿼리문 (첨부파일이 있을 경우 선택적으로 실행) -->
	<insert id="insertAttachment" parameterType="attachment">
		INSERT INTO ATTACHMENT(FILE_NO
		                     , REF_BNO
		                     , ORIGIN_NAME
		                     , CHANGE_NAME
		                     , FILE_PATH)
		                VALUES(SEQ_FNO.NEXTVAL
		                     , SEQ_BNO.CURRVAL
		                     , #{originName}
		                     , #{changeName}
		                     , #{filePath})
	</insert>
	
	<!-- 일반게시글 조회수 증가용 쿼리문 - 사진게시글일 경우에도 재활용 가능 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD
		   SET COUNT = COUNT + 1
		 WHERE BOARD_NO = #{boardNo}
		   AND STATUS = 'Y'
	</update>
	
	<!-- 일반게시글 상세조회용 쿼리문 - LEFT JOIN 으로 바꾸되, 사진게시글에서도 재활용 가능 -->
	<select id="selectBoard" parameterType="_int"
							 resultMap="boardResultSet">
		SELECT BOARD_NO
		     , CATEGORY_NAME AS CATEGORY
		     , BOARD_TITLE
		     , USER_ID
		     , CREATE_DATE
		     , BOARD_CONTENT
		  FROM BOARD B
		  LEFT JOIN CATEGORY USING (CATEGORY_NO)
		  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE BOARD_NO = #{boardNo}
		   AND B.STATUS = 'Y'
	</select>
	
	<!-- 첨부파일 상세조회용 쿼리문 - ORDER BY 절을 추가하되, 사진게시글 상세조회에서도 재활용 가능 -->
	<select id="selectAttachment" parameterType="_int"
								  resultMap="attachmentResultSet">
		SELECT FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_BNO = #{boardNo}
		 ORDER BY FILE_NO ASC
	</select>
	
	<!-- 일반게시글 삭제용 쿼리문 -->
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		   SET STATUS = 'N'
		 WHERE BOARD_NO = #{boardNo}
		   AND STATUS = 'Y'
	</update>
	
	<!-- 카테고리 전체 조회용 쿼리문 -->
	<select id="selectCategoryList" resultMap="categoryResultSet">
		SELECT *
		  FROM CATEGORY
		 ORDER BY CATEGORY_NO ASC
	</select>
	
	<!-- 일반게시글 수정용 쿼리문 -->
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD
		   SET CATEGORY_NO = #{category}
		     , BOARD_TITLE = #{boardTitle}
		     , BOARD_CONTENT = #{boardContent}
		 WHERE BOARD_NO = #{boardNo}
		   AND STATUS = 'Y'
	</update>
	
	<!-- 첨부파일 수정용 쿼리문 -->
	<update id="updateAttachment" parameterType="attachment">
		UPDATE ATTACHMENT
		   SET ORIGIN_NAME = #{originName}
		     , CHANGE_NAME = #{changeName}
		     , UPLOAD_DATE = SYSDATE
		 WHERE FILE_NO = #{fileNo}
	</update>
	
	<!-- 게시글 수정 시 새로운 첨부파일을 등록하는 쿼리문 -->
	<insert id="insertNewAttachment" parameterType="attachment">
		INSERT INTO ATTACHMENT(FILE_NO
		                     , REF_BNO
		                     , ORIGIN_NAME
		                     , CHANGE_NAME
		                     , FILE_PATH)
		                VALUES(SEQ_FNO.NEXTVAL
		                     , #{refNo}
		                     , #{originName}
		                     , #{changeName}
		                     , #{filePath})
	</insert>
	
	<!-- 사진게시글 등록용 쿼리문 -->
	<insert id="insertThumbnailBoard" parameterType="board">
		INSERT INTO BOARD(BOARD_NO
		                , BOARD_TYPE
		                , BOARD_TITLE
		                , BOARD_CONTENT
		                , BOARD_WRITER)
		           VALUES(SEQ_BNO.NEXTVAL
		                , 2
		                , #{boardTitle}
		                , #{boardContent}
		                , #{boardWriter})
	</insert>
	
	<!-- 사진게시글 첨부파일 등록용 쿼리문 -->
	<insert id="insertAttachmentList" parameterType="attachment">
		INSERT INTO ATTACHMENT(FILE_NO
		                     , REF_BNO
		                     , ORIGIN_NAME
		                     , CHANGE_NAME
		                     , FILE_PATH
		                     , FILE_LEVEL)
		                VALUES(SEQ_FNO.NEXTVAL
		                     , SEQ_BNO.CURRVAL
		                     , #{originName}
		                     , #{changeName}
		                     , #{filePath}
		                     , #{fileLevel})
	</insert>
	
	<!-- 사진게시글 목록 조회용 쿼리문 -->
	<select id="selectThumbnailList" resultMap="boardResultSet">
		SELECT BOARD_NO
		     , BOARD_TITLE
		     , COUNT
		     , FILE_PATH || CHANGE_NAME AS "TITLEIMG"
		  FROM BOARD B
		  JOIN ATTACHMENT ON (BOARD_NO = REF_BNO)
		 WHERE BOARD_TYPE = 2
		   AND B.STATUS = 'Y'
		   AND FILE_LEVEL = 1
		 ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 댓글 작성용 쿼리문 -->
	<insert id="insertReply" parameterType="reply">
		INSERT INTO REPLY(REPLY_NO
		                , REPLY_CONTENT
		                , REF_BNO
		                , REPLY_WRITER)
		           VALUES(SEQ_RNO.NEXTVAL
		                , #{replyContent}
		                , #{refBoardNo}
		                , #{replyWriter})
	</insert>
	
	<!-- 댓글 목록 조회용 쿼리문 -->
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT REPLY_NO
		     , REPLY_CONTENT
		     , USER_ID
		     , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH:MI:SS') "CREATE_DATE"
		  FROM REPLY R
		  JOIN MEMBER ON (REPLY_WRITER = USER_NO)
		 WHERE REF_BNO = #{boardNo}
		   AND R.STATUS = 'Y'
		 ORDER BY REPLY_NO DESC
	</select>
	
</mapper>







