<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="boardMapper">

  <!-- 
    CATEGORY 테이블로부터 조회된 result set 을
    자바의 Category VO 객체로 가공해주는 resultMap
  -->
  <resultMap id="categoryResultSet" type="category">
    <id column="CATEGORY_NO" property="categoryNo" />
    <result column="CATEGORY_NAME" property="categoryName" />
  </resultMap>

  <!-- 
    ATTACHMENT 테이블로부터 조회된 result set 을
    자바의 Attachment VO 객체로 가공해주는 resultMap
  -->
  <resultMap id="attachmentResultSet" type="attachment">
    <id column="FILE_NO" property="fileNo" />
    <result column="ORIGIN_NAME" property="originName" />
    <result column="CHANGE_NAME" property="changeName" />
    <result column="FILE_PATH" property="filePath" />
  </resultMap>

  <!-- BOARD 테이블로부터 조회된 result set을
       자바의 Board VO 객체로 가공해주는 resultMap -->
  <resultMap id="boardResultSet" type="board">
    <id column="BOARD_NO" property="boardNo" />
    <result column="CATEGORY" property="category" />
    <result column="BOARD_TITLE" property="boardTitle" />
    <result column="USER_ID" property="boardWriter" />
    <result column="COUNT" property="count" />
    <result column="CREATE_DATE" property="createDate" />
    <result column="BOARD_CONTENT" property="boardContent" />
  </resultMap>

  <!-- 게시글의 총 갯수를 구하는 쿼리문 -->
  <select id="selectListCount" resultType="_int">
    SELECT COUNT(*)
      FROM BOARD
     WHERE BOARD_TYPE = 1
       AND STATUS = 'Y'
  </select>

  <!-- 페이징처리가 적용된 게시글의 목록을 조회하는 쿼리문 -->
  	<select id="selectBoardList" resultType="hashmap"
  			resultMap="boardResultSet">
    SELECT *
    FROM
    (
      SELECT ROWNUM AS RNUM, A.*
      FROM 
      (
          SELECT BOARD_NO
            , CATEGORY_NAME AS CATEGORY
            , BOARD_TITLE
            , USER_ID
            , COUNT
            , CREATE_DATE
          FROM BOARD B
          JOIN CATEGORY USING (CATEGORY_NO)
          JOIN MEMBER ON (BOARD_WRITER = USER_NO)
          WHERE BOARD_TYPE = 1
            AND B.STATUS = 'Y'
          ORDER BY BOARD_NO DESC
      ) A
    )
    WHERE RNUM BETWEEN #{offset} AND #{limit}
  </select>

  <!-- RowBounds를 이용한 페이징 처리 -->
  	<select id="selectBoardList2" resultType="hashmap"
  			resultMap="boardResultSet">
    SELECT BOARD_NO
         , CATEGORY_NAME AS CATEGORY
         , BOARD_TITLE
         , USER_ID
         , COUNT
         , CREATE_DATE
      FROM BOARD B
      JOIN CATEGORY USING (CATEGORY_NO)
      JOIN MEMBER ON (BOARD_WRITER = USER_NO)
     WHERE BOARD_TYPE = 1
       AND B.STATUS = 'Y'
     ORDER BY BOARD_NO DESC
  </select>

  <!-- 
    MyBatis의 동적 SQL(쿼리문) 이용
    검색 조건이 있을 때와 없을 때의 쿼리문이 달라지는 경우
     - 검색 조건이 없는 경우 : 전체 게시글 목록 조회
     - 검색 조건이 있는 경우 : 검색 조건에 맞는 게시글 목록 조회
  -->
  <!-- 검색 결과의 갯수를 세는 쿼리문 -->
  <select id="selectSearchCount" parameterType="hashmap" resultType="_int">
    SELECT COUNT(*)
    FROM BOARD B
    JOIN MEMBER ON (BOARD_WRITER = USER_NO)
  WHERE BOARD_TYPE = 1
    AND B.STATUS = 'Y'
    <if test="keyword != null and keyword.trim() != ''">
      AND (
          <choose>
            <when test="condition == 'title'">
              BOARD_TITLE 
            </when>
            <when test="condition == 'content'">
              BOARD_CONTENT 
            </when>
            <when test="condition == 'writer'">
              USER_ID 
            </when>
            <otherwise>
              BOARD_TITLE
            </otherwise>
          </choose>
          LIKE '%' || #{keyword} || '%'
          )
    </if>
  </select>

  <!-- 실제 검색 결과를 조회해주는 쿼리문(rowbounds 이용했음) -->
  	<select id="searchBoardList" parameterType="hashmap" resultType="hashmap"
  			resultMap="boardResultSet">
    SELECT BOARD_NO
         , CATEGORY_NAME AS CATEGORY
         , BOARD_TITLE
         , USER_ID
         , COUNT
         , CREATE_DATE
      FROM BOARD B
      JOIN CATEGORY USING (CATEGORY_NO)
      JOIN MEMBER ON (BOARD_WRITER = USER_NO)
     WHERE BOARD_TYPE = 1
       AND B.STATUS = 'Y'
       <if test="keyword != null and keyword.trim() != ''">
        AND (
            <choose>
              <when test="condition == 'title'">
                BOARD_TITLE 
              </when>
              <when test="condition == 'content'">
                BOARD_CONTENT 
              </when>
              <when test="condition == 'writer'">
                USER_ID 
              </when>
              <otherwise>
                BOARD_TITLE
              </otherwise>
            </choose>
            LIKE '%' || #{keyword} || '%'
            )
       </if>
     ORDER BY BOARD_NO DESC
  </select>

  <!-- 일게시글 등록용 쿼리문(첨부파일 여부 무관) -->
  <insert id="insertBoard" parameterType="board">
    INSERT INTO BOARD(BOARD_NO
                    , BOARD_TYPE
                    , CATEGORY_NO
                    , BOARD_TITLE
                    , BOARD_CONTENT
                    , BOARD_WRITER)
                VALUES(SEQ_BNO.NEXTVAL
                    , 1
                    , #{category}
                    , #{boardTitle}
                    , #{boardContent}
                    , #{boardWriter})
  </insert>

  <!-- 첨부파일 등록용 쿼리문(선택적 실행) -->
  <insert id="insertAttachment" parameterType="attachment">
    INSERT INTO ATTACHMENT(FILE_NO
                     , REF_BNO
                     , ORIGIN_NAME
                     , CHANGE_NAME
                     , FILE_PATH)
               VALUES(SEQ_FNO.NEXTVAL
                     , SEQ_BNO.CURRVAL
                     , #{originName}
                     , #{changeName}  
                     , #{filePath})
  </insert>

  <update id="increaseCount" parameterType="_int">
    UPDATE BOARD
       SET COUNT = COUNT + 1
     WHERE BOARD_NO = #{boardNo}
       AND STATUS = 'Y'
  </update>

  <!-- 일반게시글 상세조회용 쿼리문 -->
	<select id="selectBoard" parameterType="_int"
							 resultMap="boardResultSet">
		SELECT BOARD_NO
		     , CATEGORY_NAME AS CATEGORY
		     , BOARD_TITLE
		     , USER_ID
		     , CREATE_DATE
		     , BOARD_CONTENT
		  FROM BOARD B
		  JOIN CATEGORY USING (CATEGORY_NO)
		  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE BOARD_NO = #{boardNo}
		   AND B.STATUS = 'Y'
	</select>
	
	<!-- 첨부파일 상세조회용 쿼리문 -->
	<select id="selectAttachment" parameterType="_int"
								  resultMap="attachmentResultSet">
		SELECT FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_BNO = #{boardNo}
	</select>
	
	<!-- 일반게시글 삭제용 쿼리문 -->
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		   SET STATUS = 'N'
		 WHERE BOARD_NO = #{boardNo}
		   AND STATUS = 'Y'
	</update>
	
	<!-- 카테고리 전체 조회용 쿼리문 -->
	<select id="selectCategoryList" resultMap="categoryResultSet">
		SELECT *
		  FROM CATEGORY
		 ORDER BY CATEGORY_NO ASC
	</select>
</mapper>