<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	
	<!-- 
		NOTICE 테이블로부터 조회된 내용을
		자바의 Notice VO 객체로 옮겨 담는 역할의 ResultMap
	-->
	<resultMap type="notice" id="noticeResultSet">
		<id property="noticeNo" column="NOTICE_NO" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeWriter" column="USER_ID" />
		<result property="count" column="COUNT" />
		<result property="createDate" column="CREATE_DATE" />
	</resultMap>
	
	<!-- 공지사항 목록 조회용 쿼리문 -->
	<select id="selectNoticeList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
		     , NOTICE_TITLE
		     , USER_ID
		     , COUNT
		     , CREATE_DATE
		  FROM NOTICE N
		  JOIN MEMBER M ON (N.NOTICE_WRITER = M.USER_NO)
		   AND N.STATUS = 'Y'
		ORDER BY N.NOTICE_NO DESC
	</select>
</mapper>