<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		settings : MyBatis가 실행될 때 필요한 설정값들을 적는 부분
	-->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 
		typeAliases : Java의 클래스 이름을 짧게 사용할 수 있도록 별칭을 등록하는 부분
		- VO 클래스가 만들어지기 전에 미리 적어두면 ClassNotFoundException 발생
	-->
	<typeAliases>
		
    </typeAliases>
    
    <!-- 
    	environments : 데이터베이스 접속 환경을 설정하는 부분
    	- mybatis를 spring과 연동해 사용하는 경우 생략
    	(spring이 application.properties에 작성된 접속 정보를 이용해 자동으로 환경 설정을 해주기 때문)
    	> db 연결의 주도권은 spring이 보유
    -->
    
    <!-- 
    	mappers : SQL이 작성된 XML(mapper) 파일의 위치를 등록하는 부분
    	- mybatis를 spring과 연동해 사용하는 경우 생략
    	(spring이 application.properties에 작성된 접속 정보를 이용해 자동으로 mapper 파일 연결)
    	> query 실행의 주도권은 spring이 보유
    -->
</configuration>